.mdiv41{
    left: 42%;
    top: 55%;
}
.mdiv42{
    left: 42%;
    top: 80%;
}
.mdiv43{
    left: 42%;
    top: 105%;
}
.mdiv44{
    left: 42%;
    top: 130%;
}
.mandiv1{
    left: 10.87%;
}
.mandiv2{
    left: 35.87%;
}
.mline2{
    top: 71.5%;
}
.mline3{
    top: 96.5%;
}
.mline4{
    top: 120.5%;
}